* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.border{
  border: 1px solid black;
  border-radius: 16px;
}

@keyframes model {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
